.date-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    gap: 10px;
    padding: 10px 6px 0 0;
    width: fit-content;
}

#date-container {
    border-radius: 12px;
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: var(--box-shadow-1);
}

.date-container-daymode {
    background-color: var(--color-lightpurple0);
    color: var(--color-black0);
}

.date-container-nightmode {
    background: rgba(140, 74, 175, 0.2);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    color: white;
}

#date-container #date {
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

#date-container #date:hover {
    transform: scale(1.1);
}

#time-container {
    width: 90%;
    height: 50%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-1);
}

.time-container-daymode {
    background-color: var(--color-lightpurple1);
}

.time-container-nightmode {
    background-color: var(--color-darkpurple);
}

#time-container ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    color: var(--color-black1);
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

#time-container li {
    font-size: 1.3rem;
}

#time-container.time-container-nightmode ul {
    color: var(--color-white);
}

#time-container ul:hover {
    transform: scale(1.1);
}
