.right-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.upper-container {
    background-color: white;
    border-radius: 8px;
    width: 570px;
    height: 240px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.pedro-keqing {
    position: relative;
}

.pedro-keqing-video {
    height: 200px;
    position: absolute;
    z-index: 1;
}

#play-btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 25%;
}

#play-btn.active {
    background-color: pink;
}

.lower-container {
    border-radius: 8px;
    width: 570px;
    height: 390px;
    margin-top: 10px;
    position: relative;
}

.speech-bubble img {
    position: absolute;
    height: 170px;
    transform: scaleX(-1);
    top: 20px;
    left: 0;
    z-index: 1;
    /* opacity: 0; */
}

/* .keqing:active ~ .speech-bubble img {
    opacity: 1;
} */

.keqing {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 450px;
}
