:root {
    --color-primary: #191d2b;
    --color-secondary: #E9BA3A;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey1: #dbe1e8;
    --color-grey2: #b2becd;
    --color-grey3: #6c7983;
    --color-grey4: #454e56;
    --color-grey5: #2a2e35;
    --color-grey6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --default-transition: all 0.4s ease-in-out;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url('../media/img/Pastel-Purple-Ombre-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    padding-top: 70px;
    display: flex;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
