body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('../img/Pastel-Purple-Ombre-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
