:root {
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-black0: #1e1e1e;
    --color-black1: #303030;
    --color-black2: #333;
    --color-lightpurple0: #f7e9fd;
    --color-lightpurple1: #ead6fc;
    --color-darkpurple: #251039;
    --color-grey0: #555;
    --color-pink0: #ff26a1;
    --color-purple: #9c40ec;
    --color-purple1: #8c4aaf;
    --color-purple2: #4A215D;
    --box-shadow-1: 0 4px 8px rgba(0, 0, 0, 0.1);
    --default-transition: all 0.4s ease-in-out;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('../media/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    max-width: 720px;
    max-height: 405px;
    transform: scale(0.9);
    transform-origin: 0 0;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
