#schedule {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 900px;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-daymode {
    background-color: var(--color-white);
}

.schedule-nightmode {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
}

.hour-indicators {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 10px;
    position: absolute;
    z-index: 1;
    padding: 20px 10px;
    margin-left: 5px;
}

.hour {
    height: 20px;
    line-height: 5px;
    text-align: right;
    font-size: 14px;
    color: var(--color-grey0);
    padding-bottom: 10px;
}

.block {
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
    height: auto; /* Dynamic height */
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* Prevent content overflow */
    display: flex;
    align-items: center; /* Align items in the center horizontally */
    justify-content: space-between; /* Space between elements */
    text-overflow: ellipsis; /* Truncate text if needed */
}

.block:nth-child(odd) {
    background-color: var(--color-lightpurple0);
}

.block-nightmode:nth-child(odd) {
    background: rgba(140, 74, 175, 0.2);
    box-shadow: var(--box-shadow-1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.block:nth-child(even) {
    background-color: var(--color-lightpurple1);
}

.block-nightmode:nth-child(even) {
    background-color: var(--color-darkpurple);
}

.time {
    font-size: 14px;
    color: var(--color-grey0);
    font-weight: bold;
}

.time-nightmode {
    color: rgb(231, 225, 225);
}

.description {
    font-size: 16px;
    margin-left: 10px;
    color: var(--color-black2);
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.description-nightmode {
    color: var(--color-white);
}

.indicator {
    position: absolute;
    width: calc(100% - 10px);
    height: 3px;
    background-color: var(--color-pink0);
    top: 0;
    left: 0;
    right: 10px;
    transform: translateY(0);
    transition: transform 0.5s ease;
    border-radius: 2px;
    opacity: 0.5;
}

.indicator-nightmode {
    opacity: 0.9;
}
